

<% provide(:title, @user.username) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.tk %> - <%= @user.region %> - <%= @user.status %></h1>
			</h1>
		</section>
	</aside>
</div>